
.braceletRegister{
    width: 100%;
    padding-block: 2.5rem;
}

.braceletFormCard {
    width: 50%;

    margin: 0 auto;
}
.braceletForm{
    display: flex;
    flex-direction: column;

    gap: 1rem;
}
